<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order loan</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>


<span>Список тарифов</span>
<br>

<div class="container">
    <th:block th:if="${#lists.isEmpty(tariffs)}">
        <span>No tariffs found. </span>
    </th:block>
    <div class="row">
        <th:block th:each="tariff: ${tariffs}">
            <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-10">
                <h4 class="text-center color1" th:text="${tariff.getType()}"></h4>
                <h5 class="text-center color1" th:text="${tariff.getInterestRate()}"></h5>
                <div class="like_a_button">
                    <a href="/loan-service/formOrder">Подать заявку</a>
                </div>
            </div>
        </th:block>
    </div>
</div>


</body>
</html>