<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Все кредиты пользователя.</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="container">
  <th:block th:if="${#lists.isEmpty(orders)}">
    <span>No tariffs found. </span>
  </th:block>
  <div class="row">
    <th:block th:each="order: ${orders}">
      <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-10">
        <h4 class="text-center color1" th:text="${order.getTariffId().getType()}"></h4>
        <h5 class="text-center color1" th:text="${order.getStatus()}"></h5>
        <div class="like_a_button">
          <a href="/loan-service/deleteSelectedOrder">Удалить заявку</a>
        </div>
      </div>
    </th:block>
  </div>
</div>

<!--<table border="1" width="70%">
  <tr>
    <th>User ID</th>
    <th>Tariff ID</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr th:if="${#lists.isEmpty(orders)}">
    <td colspan="5">No Records found. </td>
  </tr>
  <tr th:each="order : ${orders}">
    <td th:text="${order.getUserId()}"> </td>
    <td th:text="${order.getTariffId().getId()}"> </td>
    <td th:text="${order.getStatus()}"> status </td>
    <td> <form action="/loan-service/deleteOrder" th:object="${loanOrder}">
            <input type="submit" value="Delete" />
         </form>
    </td>
  </tr>
</table>-->


</body>
</html>